<main>
  <div class="cart__container">
    <h2>Cart:</h2>
    {{#if this.cart.cart}}
      {{#each this.cart.cart}}
        <div class="cart__products">
          <div class="product__card">
            <img src={{this.product.thumbnail}} />
            <div class="product__card--info">
              <h4>{{this.product.title}}</h4>
              <h5>${{this.product.price}}</h5>
              <p>x{{this.quantity}}</p>
            </div>
          </div>
          <button
            class="cart__deleteBtn"
            id="cart__product--deleteBtn"
            value={{this.product._id}}>
          Eliminar
          </button>
        </div>
      {{/each}}
    {{else}}
      <h3>Cart is empty</h3>
    {{/if}}

    <div class="cart__total">
      <h2>Total:</h2>
      <div class="cart__menu">

        <button 
        id="empty__btn"
        value={{cart._id}}
        class="cart__total--btn">
          Empty cart
        </button>

        <button
          id="purchase__btn"
          value={{cart._id}}
          class="cart__total--btn"
        >Confirm purchase
        </button>

      </div>
    </div>
  </div>
</main>
<script src="/js/cart.js"></script>