<main>
  <div>
    <h1>User</h1>
    <p>First name: {{user.first_name}}</p>
    <p>Last name: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Age: {{user.age}}</p>
    <p>Role: {{user.role}}</p>
  </div>
</main>